header {
    justify-content: space-between;
    border-bottom: 5px solid;
}

main {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1em 0;
    border: 5px solid;
    width: 100%;
}

.title {
    text-decoration: underline;
}

.content {
    text-indent: 1em;
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-top: 5px solid;
    font-size: larger;
}