.circle {
    position: relative;
    border-radius: 50%;
    border: 3px solid black;
    height: 500px;
    width: 500px;
    background: linear-gradient(to bottom right, blue, purple);
    margin: 50px;
}

#overlay {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: xx-large;
}



header {
display: flex;
height: 50px;
align-content: center;
align-items: center;
justify-content: flex-end;
}

#switch {
    border-radius: 10%;
    border: 2px solid blue;
    padding: 5px;
}

main{
    display: flex;
    align-items: center;
    border: 5px solid black;
}

aside{
    border-right: 5px solid black;
    width: 50%;
}

article {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

input, textarea {
    width: 90%;
}